<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加书籍</title>
</head>
<body>
    <div>
        <form action="" method="post" >
            书籍: <input type="text" name="booktitle" placeholder="请输入书籍">
        <br>
        <br>
      价格:  <input type="text" name="bookprice" placeholder="请输入价格">
        <br>
        <br>
      日期: <input type="text" name="bookpub_date" placeholder="请输入日期">
        <br>
        <br>
            <input type="submit" value="提交">
        </form>

    </div>

</body>
</html>