<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑英雄</title>
</head>
<body>
    <form action="" method="post">
        英雄名字:<input type="text" name="heroname" value="{{hero.name}}">
        <br>
        <br>
        英雄简介:<input type="text" name="herocontent" value="{{hero.content}}">
        <br>
        <br>
        {% if hero.gender == 'female' %}
        性别:<input type="radio" name="sex" value="female" checked>女<input type="radio" name="sex" value="male">男
        <input type="submit"value="提交">
        {% else %}
         性别:<input type="radio" name="sex" value="male" >女<input type="radio" name="sex" value="male" checked>男
        {% endif %}
        <input type="submit"value="提交">
    </form>


</body>
</html>